/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/


/* DOCUMENT */
/* sets the height and with of the page */
html {
  height: 100%;
  width: 100%;
}

/* background picture */
body {
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}


/* HEADER */
header {
  background: #0fb9b1;
  display: flex; /* flexbox for header-text and header-button elements */
  justify-content: space-between; /* space between elements on nav bar */
  align-items: center; /* vertically center nav bar elements */
  height: 65px; /* height of nav bar */
}

.header-text {
  font-family: 'Roboto', sans-serif; /* set text style for this element */
  font-size: 24px;;
  margin-left:20px;
}

.header-button {
  margin-right: 25px; /* margin for button */
  padding: 10px; /* padding for text inside button */
  font-size: 16px; /* font stye for button */
  border-style: none; /* border style and radius for button outline */
  border-radius: 5px;
}


/* BOXES */
main {
  height: 100%; /* heigh for main section (everything below nav bar) */
  font-family: 'Roboto', sans-serif; /* font family for all main children */
}

.box {
  height: 390px; /* height and width for both boxes */
  width: 500px;
  margin-top: 50px; /* margin for top of each box */
  background-color: rgba(225, 225, 225, .9); /* box color */
}


/* LEFT BOX */
.left-box {
  margin-left: 125px; /* left margin for left box */
  float: left; /* pushes this element to the left side of parent element (main) */
  display: flex; /* flexbox for child elements (p, div with buttons) */
  align-items: flex-start; /* aligne child elements to the left */
  flex-direction: column; /* put child elements in column */
  justify-content: center; /* vertically center child elements */
}

.left-box-title {
  font-size: 28px; /* font style for title of left box */
  font-weight: bold;
  padding: 10px;
  margin: 0; /* margin around this text element */
  margin-left: 30px;
}

.required-field {
  color: #ee5253;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-list { /* box/element holding all of the button label/input elements */
  margin-left: 30px;
  display: flex; /* flexbox for children elements (button inputs and labels) */
  flex-direction: column; /* align child elements in a column */

}

.radio-button {
  padding: 10px; /* font size and padding for button label elements */
  font-size: 20px;
}

.lets-cook-button {
  padding: 8px; /* padding and font size for button text */
  font-size: 16px;
  border-style: none; /* border formatting for button */
  border-radius: 6px;
  background-color: #0fb9b1; /* button color */
  margin-left: 30px; /* margin around button element */
  margin-top: 15px;
  width: 200px;
}

.radio {
  margin-right: 10px; /* margin around button text (adds space between radio button and text) */
}


/* RIGHT BOX */
.right-box {
  margin-right: 125px; /* margin between right box and right side of page */
  float: right; /* push to right side of parent element (main) */
  position: relative; /* allows right box, home-view, and recipe-view divs to all sit in the same spot */
  /* display: flex; /* flexbox for children (icon and title text) - not sure if I need this since the divs have their own flex display properties  */
  /* justify-content: center;
  align-items: center; */
}

.home-view { /* div with the same dimension as the right box element, parent to icon element */
  height: 390px; /* set height and width of div to be the same as the right-box element */
  width: 500px;
  position: absolute; /* allows right box, home-view, and recipe-view divs to all sit in the same spot */
  display: flex; /* flexbox for icon element, centering it in this div */
  justify-content: center;
  align-items: center;
}

.icon {
  width: 120px; /* width of pot icon image */
}

.recipe-view { /* div with same dimensions as right box, parent to recipe text */
  height: 390px; /* set height and width of div to be the same as the right-box element */
  width: 500px;
  position: absolute; /* allows right box, home-view, and recipe-view divs to all sit in the same spot */
  /* display: flex; /* flexbox for text elements that are children to this div, making them a column and centering in this div */ */
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.title-text { /* text formatting for recipe-view title */
  font-style: italic;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  margin-top: 125px;
}

.recipe-text { /* text formatting for recipe-view text */
font-weight: 800;
font-size: 26px;
text-align: center;
margin: 10px;
}

.clear-button {
  padding: 8px; /* padding and font size for button text */
  font-size: 16px;
  color: white;
  border-style: none; /* border formatting for button */
  border-radius: 6px;
  background-color: #95a5a6; /* button color */
  margin: 0 30px 30px 0;
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* use to hide elements */
.hidden {
  display: none;
}
